<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/fore/header::html('cart')"></head>


<body>

<div th:replace="include/fore/top::html"></div>

<div class="homepageCategoryProducts">
    <div th:each=" c : ${cs}" class="productBlock">
        <div>
            <span style="font-weight: bold" th:text=${c.name}></span>
        </div>
        <div>
            <div th:each=" product  : ${c.products}" class="eachProduct">
                <div>
                    <a th:href="'foreproduct?pid=' + ${product.id}"><img style="width: 100px; height:100px "
                                                                         th:src="@{/img/productSingle_middle/} + ${product.firstProductImage.id} + '.jpg'"></a>
                </div>
                <div th:id="${product.id}" th:text="${product.name}" class="productTitle"></div>
            </div>
        </div>

    </div>


</div>

</body>
</html>